.content-all-page {
    margin-top:10px;
    border: 1px black solid;
    padding: 10px;
}

.content-all { /* 콘텐츠 전체 div */
    margin-top: 10px;
    border: 1px black solid;
    padding: 10px;
}

.content-top-buttonDiv { /* 콘텐츠 상단 버튼 */
    margin-top: 10px;
    border: 1px black solid;
    padding: 10px;
    display: flex;
    justify-content: right;
}

.select-language, .content-top-btn { /* 개발언어 select, 다운로드&저장 btn */
    margin-left: 10px;
    margin-right: 10px;
}

.content-mid-translateDiv { /* 번역칸 div */
    margin-top: 10px;
    border: 1px black solid;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px; /* 간격 */
    flex-wrap: wrap; /* 창 폭이 줄어들면 줄 바꿈꿈 */
}

.content-mid-pDiv {
    border-bottom: 1px lightgray solid;
    margin-bottom: 5px;
}
.content-mid-translateDiv p {
    display: flex;
    justify-content: left;
    font-size: 1.1em;
    border: 1px black solid;
}

.content-mid-translateDiv-left,   /* 번역 결과 div */
.content-mid-translateDiv-right { /* 번역 요청 div */
    border: 1px lightgray solid;
    border-radius: 5%;
    padding: 10px;
    width: 47%; /* 기본 가로 비율율 */
    box-sizing: border-box; /* padding 포함 크기기 */
}

@media screen and (max-width: 768px) { /* 창 폭 768px 이하이면 적용용 */
    .content-mid-translateDiv {
        flex-direction: column; /* 세로 정렬렬 */
    }

    .content-mid-translateDiv-left,
    .content-mid-translateDiv-right {
        width: 98%;
    }
}

.content-buttom-translateBtn { /* 번역 버튼 div */
    margin-top: 10px;
    border: 1px black solid;
    padding: 10px;
}

.translate-Btn { /* 번역 버튼 */
    padding: 5px 10px;
    color: white;
    background-color: darkgray;
    border: 1px darkgray solid;
    border-radius: 5%;
    transition: all 0.3s; /* 트랜지션은 버튼에 적용 */
}

.translate-Btn:hover {
    background-color: rgb(154, 154, 154);
    transform: sacle(0.98);
}

.translate-Btn:active {
    background-color: rgb(113, 113, 113);
    transform: translateY(0.5px) scale(0.98);
}